body {
  max-width: 320px;
  margin: auto;
  background: #6A8A88;
  border: 1px solid black;
}

img {
  display: block;
  max-width: 100%;
}

.photo {
  box-sizing: border-box;
  border-radius: 15px;
}
.photo-tobias {
  border: 4px solid #C7E1E5;
}

.photo-amelie {
  border: 4px solid #CCD2EA;
}

header  {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background: #AFD8CA;
}

.icone-contact {
  max-width: 130px;
}

.info-time {
  text-align: center;
  margin-top: 25px;
}

h1,
p,
button {
  color: #053F00;
}

p {
  font-family: 'Crimson Pro', serif;
  font-size: 17px;
}

h1,
.info-time,
button {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 27px;
  font-weight: 600;
  margin: 0;
  padding: 10px 0 10px 20px;
  box-sizing: border-box;
  background: #AFD8CA;
  width: 100%;
  position: sticky;
  top: 0;
  text-align: left;
}

.chat-container {
  max-width: 330px;
  margin: auto;
  margin-top: 25px;
  box-shadow: 0 0 5px #3333;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-box {
  margin-bottom: 10px;
  max-width: 70%;
  margin: 0 20px 25px;
  border-radius: 15px;
}

.message-box .message-content {
  border-radius: 10px;
  margin: 0;
  padding: 10px;
}

.message-box-tobias {
  background: #C7E1E5;
  align-self: flex-end;
}

.message-box-amelie {
  background: #CCD2EA;
}

.chat-form {
  background: #AFD8CA;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #CCD2EA;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 10px;
}