body {
  max-width: 320px;
  margin: auto;
  background: #6A8A88;
  border: 1px solid black;
}

img {
  display: block;
  max-width: 100%;
header  {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background: #AFD8CA;
}

.icone-contact {
  max-width: 130px;
}
.chat-container {
  max-width: 330px;
  margin: auto;
  margin-top: 10px;
  box-shadow: 0 0 5px #3333;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-box {
  margin-bottom: 10px;
  max-width: 70%;
  margin: 0 20px 25px;
  border-radius: 15px;
}

.message-box .message-content {
  border-radius: 10px;
  margin: 0;
  padding: 10px;
}

.message-box-tobias {
  background: #C7E1E5;
  align-self: flex-end;
}

.message-box-amelie {
  background: #CCD2EA;
}

h1 {
  margin: 0;
  padding: 10px 0 10px 10px;
  box-sizing: border-box;
  background: #AFD8CA;
  width: 100%;
  position: sticky;
  top: 0;
  text-align: left;
}

.chat-form {
  background: #AFD8CA;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: ##CCD2EA;
}